@use "../index";
$color: #fff;

button {
    border:none;
}

.black-btn {
    background: index.$secondary-color;
    color: $color;
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'Inter-Bold';
    font-size:1rem;
    cursor: pointer;
}